GROUND.PLATEFORM/WSDL/InstantMessage/alstom.com.pacis.pis.ground.instantmessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://alstom.com/pacis/pis/ground/instantmessage/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="InstantMessageService" targetNamespace="http://alstom.com/pacis/pis/ground/instantmessage/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://alstom.com/pacis/pis/ground/instantmessage/Imports">
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.ground.instantmessage.xsd" namespace="http://alstom.com/pacis/pis/ground/instantmessage/" />
      <xsd:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.schema.xsd" namespace="http://alstom.com/pacis/pis/schema/" />
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.ground.core.data.xsd" namespace="http://alstom.com/pacis/pis/ground/core/data/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InstantMessage_GetAvailableElementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementList" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_GetAvailableElementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementListResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_RetrieveMessageTemplateList_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMessageTemplateList" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_RetrieveMessageTemplateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMessageTemplateListResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_RetrieveStationList_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveStationList" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_RetrieveStationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveStationListResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_SendPredefinedMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPredefinedMessages" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_SendPredefinedMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPredefinedMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_SendFreeTextMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFreeTextMessage" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_SendFreeTextMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFreeTextMessageResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_SendScheduledMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendScheduledMessage" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_SendScheduledMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendScheduledMessageResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_CancelAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelAllMessages" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_CancelAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_CancelScheduledMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelScheduledMessage" />
  </wsdl:message>
  <wsdl:message name="InstantMessage_CancelScheduledMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelScheduledMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="InstantMessage">
    <wsdl:operation name="GetAvailableElementList">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/GetAvailableElementList" message="tns:InstantMessage_GetAvailableElementList_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/GetAvailableElementListResponse" message="tns:InstantMessage_GetAvailableElementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageTemplateList">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/RetrieveMessageTemplateList" message="tns:InstantMessage_RetrieveMessageTemplateList_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/RetrieveMessageTemplateListResponse" message="tns:InstantMessage_RetrieveMessageTemplateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveStationList">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/RetrieveStationList" message="tns:InstantMessage_RetrieveStationList_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/RetrieveStationListResponse" message="tns:InstantMessage_RetrieveStationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPredefinedMessages">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendPredefinedMessages" message="tns:InstantMessage_SendPredefinedMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendPredefinedMessagesResponse" message="tns:InstantMessage_SendPredefinedMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFreeTextMessage">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendFreeTextMessage" message="tns:InstantMessage_SendFreeTextMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendFreeTextMessageResponse" message="tns:InstantMessage_SendFreeTextMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendScheduledMessage">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendScheduledMessage" message="tns:InstantMessage_SendScheduledMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendScheduledMessageResponse" message="tns:InstantMessage_SendScheduledMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelAllMessages">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/CancelAllMessages" message="tns:InstantMessage_CancelAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/CancelAllMessagesResponse" message="tns:InstantMessage_CancelAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelScheduledMessage">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/CancelScheduledMessage" message="tns:InstantMessage_CancelScheduledMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/CancelScheduledMessageResponse" message="tns:InstantMessage_CancelScheduledMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InstantMessage" type="tns:InstantMessage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableElementList">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/GetAvailableElementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageTemplateList">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/RetrieveMessageTemplateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveStationList">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/RetrieveStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPredefinedMessages">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendPredefinedMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFreeTextMessage">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendFreeTextMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendScheduledMessage">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/SendScheduledMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelAllMessages">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/CancelAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelScheduledMessage">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/instantmessage/InstantMessage/CancelScheduledMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstantMessageService">
    <wsdl:port name="BasicHttpBinding_InstantMessage" binding="tns:BasicHttpBinding_InstantMessage">
      <soap:address location="http://alstom-ground-pis-server/InstantMessage/InstantMessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>