GROUND.PLATEFORM/WSDL/LiveVideoControl/alstom.com.pacis.pis.ground.livevideocontrol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://alstom.com/pacis/pis/ground/livevideocontrol/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LiveVideoControlService" targetNamespace="http://alstom.com/pacis/pis/ground/livevideocontrol/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://alstom.com/pacis/pis/ground/livevideocontrol/Imports">
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.ground.livevideocontrol.xsd" namespace="http://alstom.com/pacis/pis/ground/livevideocontrol/" />
      <xsd:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.schema.xsd" namespace="http://alstom.com/pacis/pis/schema/" />
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.ground.core.data.xsd" namespace="http://alstom.com/pacis/pis/ground/core/data/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LiveVideoControl_GetAvailableElementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementList" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_GetAvailableElementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementListResponse" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_StartVideoStreamingCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:StartVideoStreamingCommand" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_StartVideoStreamingCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartVideoStreamingCommandResponse" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_StopVideoStreamingCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:StopVideoStreamingCommand" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_StopVideoStreamingCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopVideoStreamingCommandResponse" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_ChangeCommandMode_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCommandMode" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_ChangeCommandMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCommandModeResponse" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_GetCommandMode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandMode" />
  </wsdl:message>
  <wsdl:message name="LiveVideoControl_GetCommandMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandModeResponse" />
  </wsdl:message>
  <wsdl:portType name="LiveVideoControl">
    <wsdl:operation name="GetAvailableElementList">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/GetAvailableElementList" message="tns:LiveVideoControl_GetAvailableElementList_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/GetAvailableElementListResponse" message="tns:LiveVideoControl_GetAvailableElementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartVideoStreamingCommand">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/StartVideoStreamingCommand" message="tns:LiveVideoControl_StartVideoStreamingCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/StartVideoStreamingCommandResponse" message="tns:LiveVideoControl_StartVideoStreamingCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopVideoStreamingCommand">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/StopVideoStreamingCommand" message="tns:LiveVideoControl_StopVideoStreamingCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/StopVideoStreamingCommandResponse" message="tns:LiveVideoControl_StopVideoStreamingCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCommandMode">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/ChangeCommandMode" message="tns:LiveVideoControl_ChangeCommandMode_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/ChangeCommandModeResponse" message="tns:LiveVideoControl_ChangeCommandMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommandMode">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/GetCommandMode" message="tns:LiveVideoControl_GetCommandMode_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/GetCommandModeResponse" message="tns:LiveVideoControl_GetCommandMode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_LiveVideoControl" type="tns:LiveVideoControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableElementList">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/GetAvailableElementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartVideoStreamingCommand">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/StartVideoStreamingCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopVideoStreamingCommand">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/StopVideoStreamingCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCommandMode">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/ChangeCommandMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandMode">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/livevideocontrol/LiveVideoControl/GetCommandMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveVideoControlService">
    <wsdl:port name="BasicHttpBinding_LiveVideoControl" binding="tns:BasicHttpBinding_LiveVideoControl">
      <soap:address location="http://alstom-ground-pis-server/LiveVideoControl/LiveVideoControlService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>