GROUND.PLATEFORM/UnitTests/Service References/MaintenanceService/MaintenanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://alstom.com/pacis/pis/ground/maintenance/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MaintenanceService" targetNamespace="http://alstom.com/pacis/pis/ground/maintenance/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://alstom.com/pacis/pis/ground/maintenance/Imports">
      <xsd:import schemaLocation="http://cnblr12909.dom4.ad.sys/Maintenance/MaintenanceService.svc?xsd=xsd0" namespace="http://alstom.com/pacis/pis/ground/maintenance/" />
      <xsd:import schemaLocation="http://cnblr12909.dom4.ad.sys/Maintenance/MaintenanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cnblr12909.dom4.ad.sys/Maintenance/MaintenanceService.svc?xsd=xsd2" namespace="http://alstom.com/pacis/pis/schema/" />
      <xsd:import schemaLocation="http://cnblr12909.dom4.ad.sys/Maintenance/MaintenanceService.svc?xsd=xsd3" namespace="http://alstom.com/pacis/pis/ground/core/data/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaintenanceService_GetAvailableElementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementList" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetAvailableElementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementListResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetSystemMessagesFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemMessagesFiles" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetSystemMessagesFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemMessagesFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetVersionsFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionsFile" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetVersionsFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionsFileResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetOldestLogDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOldestLogDateTime" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetOldestLogDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOldestLogDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetLatestLogDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestLogDateTime" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetLatestLogDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestLogDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_CleanLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanLog" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_CleanLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaintenanceService">
    <wsdl:operation name="GetAvailableElementList">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetAvailableElementList" message="tns:IMaintenanceService_GetAvailableElementList_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetAvailableElementListResponse" message="tns:IMaintenanceService_GetAvailableElementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemMessagesFiles">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetSystemMessagesFiles" message="tns:IMaintenanceService_GetSystemMessagesFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetSystemMessagesFilesResponse" message="tns:IMaintenanceService_GetSystemMessagesFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionsFile">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetVersionsFile" message="tns:IMaintenanceService_GetVersionsFile_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetVersionsFileResponse" message="tns:IMaintenanceService_GetVersionsFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetLogs" message="tns:IMaintenanceService_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetLogsResponse" message="tns:IMaintenanceService_GetLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOldestLogDateTime">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetOldestLogDateTime" message="tns:IMaintenanceService_GetOldestLogDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetOldestLogDateTimeResponse" message="tns:IMaintenanceService_GetOldestLogDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestLogDateTime">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetLatestLogDateTime" message="tns:IMaintenanceService_GetLatestLogDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetLatestLogDateTimeResponse" message="tns:IMaintenanceService_GetLatestLogDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanLog">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/CleanLog" message="tns:IMaintenanceService_CleanLog_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/CleanLogResponse" message="tns:IMaintenanceService_CleanLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaintenanceService" type="tns:IMaintenanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableElementList">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetAvailableElementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemMessagesFiles">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetSystemMessagesFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionsFile">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetVersionsFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOldestLogDateTime">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetOldestLogDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestLogDateTime">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/GetLatestLogDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanLog">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/maintenance/IMaintenanceService/CleanLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaintenanceService">
    <wsdl:port name="BasicHttpBinding_IMaintenanceService" binding="tns:BasicHttpBinding_IMaintenanceService">
      <soap:address location="http://cnblr12909.dom4.ad.sys/Maintenance/MaintenanceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>