GROUND.PLATEFORM/WSDL/RealTime/alstom.com.pacis.pis.ground.realtime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://alstom.com/pacis/pis/ground/realtime/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation=".\alstom.com.pacis.pis.schema.xsd" namespace="http://alstom.com/pacis/pis/schema/" />
  <xs:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAvailableElementList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableElementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="GetAvailableElementListResult" nillable="true" type="q1:RealTimeAvailableElementListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeAvailableElementListResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://alstom.com/pacis/pis/schema/" name="ElementList" nillable="true" type="q2:ElementAvailableElementDataList" />
      <xs:element xmlns:q3="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q3:RealTimeStartServiceErrorEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q4="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeAvailableElementListResult" nillable="true" type="q4:RealTimeAvailableElementListResult" />
  <xs:simpleType name="RealTimeStartServiceErrorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REQUEST_ACCEPTED" />
      <xs:enumeration value="ERROR_INVALID_SESSION_ID" />
      <xs:enumeration value="ERROR_REQUESTID_GENERATION" />
      <xs:enumeration value="ERROR_INVALID_MISSION_CODE" />
      <xs:enumeration value="ERROR_INVALID_STATION_ID" />
      <xs:enumeration value="ERROR_INVALID_ELEMENT_ID" />
      <xs:enumeration value="ERROR_STATION_LIST_LIMIT_EXCEDEED" />
      <xs:enumeration value="ERROR_NO_RTPIS_DATA" />
      <xs:enumeration value="ERROR_REMOTE_DATASTORE_UNAVAILABLE" />
      <xs:enumeration value="INFO_NO_DELAY_DATA" />
      <xs:enumeration value="INFO_NO_WEATHER_DATA" />
      <xs:enumeration value="INFO_NO_DATA_FOR_ELEMENT" />
      <xs:enumeration value="ELEMENT_LIST_NOT_AVAILABLE" />
      <xs:enumeration value="T2G_SERVER_OFFLINE" />
      <xs:enumeration value="INFO_NO_DATA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q5="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeStartServiceErrorEnum" nillable="true" type="q5:RealTimeStartServiceErrorEnum" />
  <xs:element name="RetrieveStationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
        <xs:element minOccurs="0" name="missionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="RetrieveStationListResult" nillable="true" type="q6:RealTimeRetrieveStationListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeRetrieveStationListResult">
    <xs:sequence>
      <xs:element name="ElementID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MissionCode" nillable="true" type="xs:string" />
      <xs:element name="RequestId" type="ser:guid" />
      <xs:element xmlns:q7="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q7:RealTimeStartServiceErrorEnum" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="StationList" nillable="true" type="q8:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q9="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeRetrieveStationListResult" nillable="true" type="q9:RealTimeRetrieveStationListResult" />
  <xs:element name="GetMissionRealTimeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
        <xs:element minOccurs="0" name="missionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissionRealTimeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="GetMissionRealTimeInformationResult" nillable="true" type="q10:RealTimeGetMissionRealTimeInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeGetMissionRealTimeInformationResult">
    <xs:sequence>
      <xs:element xmlns:q11="http://alstom.com/pacis/pis/ground/realtime/" name="InformationStructure" nillable="true" type="q11:RealTimeInformationType" />
      <xs:element name="MissionCode" nillable="true" type="xs:string" />
      <xs:element name="RequestId" type="ser:guid" />
      <xs:element xmlns:q12="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q12:RealTimeStartServiceErrorEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q13="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeGetMissionRealTimeInformationResult" nillable="true" type="q13:RealTimeGetMissionRealTimeInformationResult" />
  <xs:complexType name="RealTimeInformationType">
    <xs:sequence>
      <xs:element xmlns:q14="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="MissionDelay" nillable="true" type="q14:RealTimeDelayType" />
      <xs:element xmlns:q15="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="MissionWeather" nillable="true" type="q15:RealTimeWeatherType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q16="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeInformationType" nillable="true" type="q16:RealTimeInformationType" />
  <xs:complexType name="RealTimeDelayType">
    <xs:sequence>
      <xs:element name="Delay" type="xs:unsignedInt" />
      <xs:element name="DelayReason" nillable="true" type="xs:string" />
      <xs:element name="DelayReasonCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q17="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeDelayType" nillable="true" type="q17:RealTimeDelayType" />
  <xs:complexType name="RealTimeWeatherType">
    <xs:sequence>
      <xs:element name="Humidity" nillable="true" type="xs:string" />
      <xs:element name="TemperatureInCentigrade" nillable="true" type="xs:string" />
      <xs:element name="TemperatureInFahrenheit" nillable="true" type="xs:string" />
      <xs:element name="WeatherCondition" nillable="true" type="xs:string" />
      <xs:element name="WeatherConditionCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q18="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeWeatherType" nillable="true" type="q18:RealTimeWeatherType" />
  <xs:element name="SetMissionRealTimeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
        <xs:element minOccurs="0" name="missionCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="missionDelay" nillable="true" type="q19:RealTimeDelayType" />
        <xs:element xmlns:q20="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="missionWeather" nillable="true" type="q20:RealTimeWeatherType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMissionRealTimeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="SetMissionRealTimeInformationResult" nillable="true" type="q21:RealTimeSetMissionRealTimeInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeSetMissionRealTimeInformationResult">
    <xs:sequence>
      <xs:element name="RequestId" type="ser:guid" />
      <xs:element xmlns:q22="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q22:RealTimeStartServiceErrorEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q23="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeSetMissionRealTimeInformationResult" nillable="true" type="q23:RealTimeSetMissionRealTimeInformationResult" />
  <xs:element name="GetStationRealTimeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
        <xs:element minOccurs="0" name="missionCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stationList" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationRealTimeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="GetStationRealTimeInformationResult" nillable="true" type="q25:RealTimeGetStationRealTimeInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeGetStationRealTimeInformationResult">
    <xs:sequence>
      <xs:element name="RequestId" type="ser:guid" />
      <xs:element xmlns:q26="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q26:RealTimeStartServiceErrorEnum" />
      <xs:element xmlns:q27="http://alstom.com/pacis/pis/ground/realtime/" name="StationStatusList" nillable="true" type="q27:ArrayOfRealTimeStationStatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q28="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeGetStationRealTimeInformationResult" nillable="true" type="q28:RealTimeGetStationRealTimeInformationResult" />
  <xs:complexType name="ArrayOfRealTimeStationStatusType">
    <xs:sequence>
      <xs:element xmlns:q29="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" maxOccurs="unbounded" name="RealTimeStationStatusType" nillable="true" type="q29:RealTimeStationStatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q30="http://alstom.com/pacis/pis/ground/realtime/" name="ArrayOfRealTimeStationStatusType" nillable="true" type="q30:ArrayOfRealTimeStationStatusType" />
  <xs:complexType name="RealTimeStationStatusType">
    <xs:sequence>
      <xs:element xmlns:q31="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationConnectionList" nillable="true" type="q31:ArrayOfStationConnectionType" />
      <xs:element xmlns:q32="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationDelay" nillable="true" type="q32:RealTimeDelayType" />
      <xs:element name="StationID" nillable="true" type="xs:string" />
      <xs:element xmlns:q33="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationPlatform" nillable="true" type="q33:StationPlatformType" />
      <xs:element xmlns:q34="http://alstom.com/pacis/pis/ground/realtime/" name="StationResult" type="q34:RealTimeStationResultEnum" />
      <xs:element xmlns:q35="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationWeather" nillable="true" type="q35:RealTimeWeatherType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q36="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeStationStatusType" nillable="true" type="q36:RealTimeStationStatusType" />
  <xs:complexType name="ArrayOfStationConnectionType">
    <xs:sequence>
      <xs:element xmlns:q37="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" maxOccurs="unbounded" name="StationConnectionType" nillable="true" type="q37:StationConnectionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q38="http://alstom.com/pacis/pis/ground/realtime/" name="ArrayOfStationConnectionType" nillable="true" type="q38:ArrayOfStationConnectionType" />
  <xs:complexType name="StationConnectionType">
    <xs:sequence>
      <xs:element name="CommercialNumber" nillable="true" type="xs:string" />
      <xs:element name="ConnectionDelay" nillable="true" type="xs:string" />
      <xs:element name="ConnectionPlatform" nillable="true" type="xs:string" />
      <xs:element name="DepartureFrequency" nillable="true" type="xs:string" />
      <xs:element name="DepartureTime" nillable="true" type="xs:string" />
      <xs:element name="DestinationName" nillable="true" type="xs:string" />
      <xs:element name="Line" nillable="true" type="xs:string" />
      <xs:element name="LineCode" type="xs:int" />
      <xs:element name="ModelType" nillable="true" type="xs:string" />
      <xs:element name="ModelTypeCode" type="xs:int" />
      <xs:element name="NextDepartureTime" nillable="true" type="xs:string" />
      <xs:element name="Operator" nillable="true" type="xs:string" />
      <xs:element name="OperatorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q39="http://alstom.com/pacis/pis/ground/realtime/" name="StationConnectionType" nillable="true" type="q39:StationConnectionType" />
  <xs:complexType name="StationPlatformType">
    <xs:sequence>
      <xs:element name="ExitSide" nillable="true" type="xs:string" />
      <xs:element name="ExitSideCode" type="xs:int" />
      <xs:element minOccurs="0" name="IssueDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDescriptionCode" nillable="true" type="xs:int" />
      <xs:element name="Platform" nillable="true" type="xs:string" />
      <xs:element name="Track" nillable="true" type="xs:string" />
      <xs:element name="TrackCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q40="http://alstom.com/pacis/pis/ground/realtime/" name="StationPlatformType" nillable="true" type="q40:StationPlatformType" />
  <xs:simpleType name="RealTimeStationResultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DATA_OK" />
      <xs:enumeration value="ERROR_INVALID_STATION_FOR_MISSION" />
      <xs:enumeration value="INFO_NO_DATA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q41="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeStationResultEnum" nillable="true" type="q41:RealTimeStationResultEnum" />
  <xs:element name="SetStationRealTimeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
        <xs:element minOccurs="0" name="missionCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="stationInformationList" nillable="true" type="q42:ArrayOfRealTimeStationInformationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfRealTimeStationInformationType">
    <xs:sequence>
      <xs:element xmlns:q43="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" maxOccurs="unbounded" name="RealTimeStationInformationType" nillable="true" type="q43:RealTimeStationInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q44="http://alstom.com/pacis/pis/ground/realtime/" name="ArrayOfRealTimeStationInformationType" nillable="true" type="q44:ArrayOfRealTimeStationInformationType" />
  <xs:complexType name="RealTimeStationInformationType">
    <xs:sequence>
      <xs:element name="StationCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q45="http://alstom.com/pacis/pis/ground/realtime/" name="StationData" nillable="true" type="q45:StationDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q46="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeStationInformationType" nillable="true" type="q46:RealTimeStationInformationType" />
  <xs:complexType name="StationDataType">
    <xs:sequence>
      <xs:element xmlns:q47="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationConnectionList" nillable="true" type="q47:ArrayOfStationConnectionType" />
      <xs:element xmlns:q48="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationDelay" nillable="true" type="q48:RealTimeDelayType" />
      <xs:element xmlns:q49="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationPlatform" nillable="true" type="q49:StationPlatformType" />
      <xs:element xmlns:q50="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="StationWeather" nillable="true" type="q50:RealTimeWeatherType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q51="http://alstom.com/pacis/pis/ground/realtime/" name="StationDataType" nillable="true" type="q51:StationDataType" />
  <xs:element name="SetStationRealTimeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="SetStationRealTimeInformationResult" nillable="true" type="q52:RealTimeSetStationRealTimeInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeSetStationRealTimeInformationResult">
    <xs:sequence>
      <xs:element name="MissionCode" nillable="true" type="xs:string" />
      <xs:element name="RequestId" type="ser:guid" />
      <xs:element xmlns:q53="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q53:RealTimeStartServiceErrorEnum" />
      <xs:element xmlns:q54="http://alstom.com/pacis/pis/ground/realtime/" name="StationResultList" nillable="true" type="q54:ArrayOfRealTimeStationResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q55="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeSetStationRealTimeInformationResult" nillable="true" type="q55:RealTimeSetStationRealTimeInformationResult" />
  <xs:complexType name="ArrayOfRealTimeStationResultType">
    <xs:sequence>
      <xs:element xmlns:q56="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" maxOccurs="unbounded" name="RealTimeStationResultType" nillable="true" type="q56:RealTimeStationResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q57="http://alstom.com/pacis/pis/ground/realtime/" name="ArrayOfRealTimeStationResultType" nillable="true" type="q57:ArrayOfRealTimeStationResultType" />
  <xs:complexType name="RealTimeStationResultType">
    <xs:sequence>
      <xs:element xmlns:q58="http://alstom.com/pacis/pis/ground/realtime/" name="ConnectionsResultList" nillable="true" type="q58:ArrayOfRealTimeConnectionResultType" />
      <xs:element xmlns:q59="http://alstom.com/pacis/pis/ground/realtime/" name="DelayResult" type="q59:RealTimeStationResultEnum" />
      <xs:element xmlns:q60="http://alstom.com/pacis/pis/ground/realtime/" name="PlatformResult" type="q60:RealTimeStationResultEnum" />
      <xs:element name="StationID" nillable="true" type="xs:string" />
      <xs:element xmlns:q61="http://alstom.com/pacis/pis/ground/realtime/" name="WeatherResult" type="q61:RealTimeStationResultEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q62="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeStationResultType" nillable="true" type="q62:RealTimeStationResultType" />
  <xs:complexType name="ArrayOfRealTimeConnectionResultType">
    <xs:sequence>
      <xs:element xmlns:q63="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" maxOccurs="unbounded" name="RealTimeConnectionResultType" nillable="true" type="q63:RealTimeConnectionResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q64="http://alstom.com/pacis/pis/ground/realtime/" name="ArrayOfRealTimeConnectionResultType" nillable="true" type="q64:ArrayOfRealTimeConnectionResultType" />
  <xs:complexType name="RealTimeConnectionResultType">
    <xs:sequence>
      <xs:element name="CommercialNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q65="http://alstom.com/pacis/pis/ground/realtime/" name="ConnectionResult" type="q65:RealTimeStationResultEnum" />
      <xs:element name="Operator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q66="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeConnectionResultType" nillable="true" type="q66:RealTimeConnectionResultType" />
  <xs:element name="ClearRealTimeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="ser:guid" />
        <xs:element minOccurs="0" name="missionCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stationList" nillable="true" type="q67:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearRealTimeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://alstom.com/pacis/pis/ground/realtime/" minOccurs="0" name="ClearRealTimeInformationResult" nillable="true" type="q68:RealTimeClearRealTimeInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RealTimeClearRealTimeInformationResult">
    <xs:sequence>
      <xs:element name="MissionCode" nillable="true" type="xs:string" />
      <xs:element name="RequestId" type="ser:guid" />
      <xs:element xmlns:q69="http://alstom.com/pacis/pis/ground/realtime/" name="ResultCode" type="q69:RealTimeStartServiceErrorEnum" />
      <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="StationList" nillable="true" type="q70:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q71="http://alstom.com/pacis/pis/ground/realtime/" name="RealTimeClearRealTimeInformationResult" nillable="true" type="q71:RealTimeClearRealTimeInformationResult" />
</xs:schema>