GROUND.PLATEFORM/UnitTests/Service References/SessionService/SessionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://alstom.com/pacis/pis/ground/session/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SessionService" targetNamespace="http://alstom.com/pacis/pis/ground/session/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://alstom.com/pacis/pis/ground/session/Imports">
      <xsd:import schemaLocation="http://cnblr10781.dom4.ad.sys/Session/SessionService.svc?xsd=xsd0" namespace="http://alstom.com/pacis/pis/ground/session/" />
      <xsd:import schemaLocation="http://cnblr10781.dom4.ad.sys/Session/SessionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISessionService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ISessionService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SetNotificationInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationInformation" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SetNotificationInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_IsSessionValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSessionValid" />
  </wsdl:message>
  <wsdl:message name="ISessionService_IsSessionValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSessionValidResponse" />
  </wsdl:message>
  <wsdl:portType name="ISessionService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/Login" message="tns:ISessionService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/LoginResponse" message="tns:ISessionService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/Logout" message="tns:ISessionService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/LogoutResponse" message="tns:ISessionService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNotificationInformation">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/SetNotificationInformation" message="tns:ISessionService_SetNotificationInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/SetNotificationInformationResponse" message="tns:ISessionService_SetNotificationInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSessionValid">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/IsSessionValid" message="tns:ISessionService_IsSessionValid_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/session/ISessionService/IsSessionValidResponse" message="tns:ISessionService_IsSessionValid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISessionService" type="tns:ISessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/session/ISessionService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/session/ISessionService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotificationInformation">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/session/ISessionService/SetNotificationInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionValid">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/session/ISessionService/IsSessionValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="BasicHttpBinding_ISessionService" binding="tns:BasicHttpBinding_ISessionService">
      <soap:address location="http://cnblr10781.dom4.ad.sys/Session/SessionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>