GROUND.PLATEFORM/WSDL/MissionURBAN/alstom.com.pacis.pis.ground.mission.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://alstom.com/pacis/pis/ground/mission/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MissionService" targetNamespace="http://alstom.com/pacis/pis/ground/mission/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://alstom.com/pacis/pis/ground/mission/Imports">
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.ground.mission.xsd" namespace="http://alstom.com/pacis/pis/ground/mission/" />
      <xsd:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.schema.xsd" namespace="http://alstom.com/pacis/pis/schema/" />
      <xsd:import schemaLocation=".\alstom.com.pacis.pis.ground.core.data.xsd" namespace="http://alstom.com/pacis/pis/ground/core/data/" />
      <xsd:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMissionService_GetAvailableElementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementList" />
  </wsdl:message>
  <wsdl:message name="IMissionService_GetAvailableElementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableElementListResponse" />
  </wsdl:message>
  <wsdl:message name="IMissionService_InitializeMission_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeMission" />
  </wsdl:message>
  <wsdl:message name="IMissionService_InitializeMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeMissionResponse" />
  </wsdl:message>
  <wsdl:message name="IMissionService_CancelMission_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMission" />
  </wsdl:message>
  <wsdl:message name="IMissionService_CancelMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMissionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMissionService">
    <wsdl:operation name="GetAvailableElementList">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/mission/IMissionService/GetAvailableElementList" message="tns:IMissionService_GetAvailableElementList_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/mission/IMissionService/GetAvailableElementListResponse" message="tns:IMissionService_GetAvailableElementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeMission">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/mission/IMissionService/InitializeMission" message="tns:IMissionService_InitializeMission_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/mission/IMissionService/InitializeMissionResponse" message="tns:IMissionService_InitializeMission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMission">
      <wsdl:input wsaw:Action="http://alstom.com/pacis/pis/ground/mission/IMissionService/CancelMission" message="tns:IMissionService_CancelMission_InputMessage" />
      <wsdl:output wsaw:Action="http://alstom.com/pacis/pis/ground/mission/IMissionService/CancelMissionResponse" message="tns:IMissionService_CancelMission_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMissionService" type="tns:IMissionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableElementList">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/mission/IMissionService/GetAvailableElementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeMission">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/mission/IMissionService/InitializeMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMission">
      <soap:operation soapAction="http://alstom.com/pacis/pis/ground/mission/IMissionService/CancelMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissionService">
    <wsdl:port name="BasicHttpBinding_IMissionService" binding="tns:BasicHttpBinding_IMissionService">
      <soap:address location="http://alstom-ground-pis-server/Mission/MissionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>